.main-btn{
    background-color: rgb(249, 162, 2);
    padding: 5px;
    padding-bottom: 7px;
    color: white;
    text-decoration: none;
}
.navbar-nav .nav-link{
    color: black;
}
.navbar-toggler{
    border-style: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.sect1{
    margin-top: 40px;
}
.homme1{
    background-image: linear-gradient(90deg, rgba(13, 66, 61, 0.9) -22.84%, rgba(12, 199, 181, 0.9) 138.88%),
    linear-gradient(0deg, #E6E6E6, #E6E6E6) ;
    height: 300px;
    width: 80%;
    padding-left: 50px;
    padding-top: 60px;
    padding-right: 50px;
    margin-left: 85px;
    color: white;
    box-shadow: 0px 0px 3px black;
}
.homme2{
    background-image: url("images/color1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: end;
}
.homme2 img{
    height: 350px; 
}
.btn{
    align-items: center;
    width: 100%;
}
.btn1{
    margin-top: 50px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    border-style: none;
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(251, 85, 25);
    font-size: small;
    font-weight: 700;
}
.btn2{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none;
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    color: aliceblue;
    background-color:rgb(251, 85, 25);
    font-size: small;
    font-weight: 700;
}


.sect2{
    padding: 50px;
}
.programme{
    background-color: rgba(20, 109, 100, 0.9);
    color: aliceblue;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}
.h5-prog{
    margin-bottom: 40px;
}

.program{
    padding: 40px;
    border: 2px solid rgba(20, 109, 100, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(20, 109, 100, 0.9);;
}
.h3-program{
    text-align: center;
    margin-bottom: 35px;
}
.p-program{
    line-height: 15px;
}
.p-btn{
    text-align: center;
}
.p-btn button{
    border-style: none;
    background-color: rgb(251, 85, 25);
    color: aliceblue;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 5px;
}


.sect3{
    padding-bottom: 25px;
}
.prog{
    border: 1px solid rgb(255, 76, 11);
    text-align: center;
    margin-right: 25px;
    padding-top: 30px;
    border-radius: 10px;
}
.prog:hover{
    box-shadow: 0px 0px 3px rgb(255, 76, 11);
}
.prog p{
    color: rgb(255, 76, 11);
    font-weight: 600;
}
.desi{
    border: 1px solid rgb(16, 147, 145);
    text-align: center;
    margin-right: 25px;
    padding-top: 30px;
    border-radius: 10px;
}
.desi:hover{
    box-shadow: 0px 0px 3px rgb(16, 147, 145);
}
.desi p{
    color: rgb(16, 147, 145);
    font-weight: 600;
}
.market{
    border: 1px solid rgb(255, 162, 0);
    text-align: center;
    margin-right: 25px;
    padding-top: 30px;
    border-radius: 10px;
}
.market:hover{
    box-shadow: 0px 0px 3px rgb(255, 162, 0);
}
.market p{
    color: rgb(255, 162, 0);
    font-weight: 600;
}
.entrepre{
    border: 1px solid rgb(14, 169, 161);
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
}
.entrepre:hover{
    box-shadow: 0px 0px 3px rgb(14, 169, 161);
}
.entrepre p{
    color: rgb(14, 169, 161);
    font-weight: 600;
}


.sect4{
    margin-top: 50px;
    position: relative;
}
.sect4Contai{
    background-color: #F44336;
    padding-left: 50px;
    color: aliceblue;
}
.sect4 h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sect4 .wave{
    position: absolute;
    bottom: -230px;
    width: 100%;
}

.diplom p:nth-child(2){
    line-height: 15px;
    font-size: small;
}
.diplomRow .row{
    margin-bottom: 35px;
}

.sect5{
    margin-top: 280px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 50px;
}
.Vplus{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}
.Vplus button{
    border-style: none;
    background-color: #F44336;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: aliceblue;
}

.card{
    margin: 25px;
    border-style: none;
}
.card-text{
    text-align: center;
}


.sect6{
    position: relative;
    background-image: url('images/wave.png');
    background-size: cover;
    padding-bottom: 300px;
}
.colSect6{
    position: absolute;
    bottom: -80px;
    color: aliceblue;
}

.sect7{
    background-image: url('images/bgColorOrange.png');
    padding-top: 200px;
    margin-top: 0px;
}
.Container2{
    padding-bottom: 50px;
}
.texte1{
    color: aliceblue;
}
.texte1 p button{
    background-color: #F44336;
    color: aliceblue;
    border-style: none;
}
.texte1 p{
    text-align: center;
}
.texte2{
    color: aliceblue;
    margin-top: 200px;
}
.texte2 p button{
    background-color: #F44336;
    color: aliceblue;
    border-style: none;
}
.texte2 p{
    text-align: center;
}


.parteners{
    text-align: center;
    justify-content: center;
    margin-top: 35px;
    background-color: #EEF9F8E5;
}
.partener1{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    width: 172px;
    height: 184px;
    background-color: white
}
.partener1 img{
    margin-top: 33px;
}
.partener2{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    width: 172px;
    height: 184px;
    background-color: white
}
.partener2 img{
    margin-top: 18px;
    margin-left: -20px;
}
.partener3{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    width: 172px;
    height: 184px;
    background-color: white
}
.partener3 img{
    margin-top: 33px;
}
.partener4{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    width: 172px;
    height: 184px;
    background-color: white
}
.partener4 img{
    margin-top: 40px;
}
.partener5{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    width: 172px;
    height: 184px;
    background-color: white
}
.partener5 img{
    margin-left: -37px;
}
.partener6{
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin: 20px;
    width: 172px;
    height: 184px;
    background-color: white
}
.partener6 img{
    margin-top: 33px;
}
.colBtn button{
    border-style: none;
    background-color: #F44336;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
}


.footer{
    background-color: #009688;
}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.footer i{
    width: 25px;
    height: 25px;
    color: aliceblue;
    cursor: pointer;
}
.footer p{
    color: aliceblue;
}
.footerCopy{
    text-align: end;
    margin-top: 50px;
}
.Container2 .colIMG2{
    margin-top: 0px;
}

@media screen and (max-width:769px){
    .navbar-nav{
        text-align: center;
        background-color:rgb(25, 146, 138);
        padding-bottom: 15px;
        
    }
    .navbar-nav .nav-link:hover{
        color: #ffc003;
    }
    
    .search i:hover{
        color: #ffc003;
    }
    .sect4 .wave{
        position: absolute;
        bottom: -125px;
        width: 100%;
    }
    .sect5{
        margin-top: 180px;
    }

    .sect6{
        background-image: url('images/wave.png');
        background-size: cover;
        padding-bottom: 200px;
    }
    .texte2{
        color: aliceblue;
        margin-top: 0px;
    }
    .parteners{
        text-align: center;
        justify-content: center;
        margin-top: 35px;
    }
    .footerRow{
        text-align: center;

    }
    .footerCopy{
        text-align: center;
    }
    .Container2{
        padding-bottom: 50px;
    }
    .Container2 .colIMG2{
        margin-top: 50px;
    }
}

@media screen and (max-width:400px){
    .navbar-nav{
        text-align: center;
        background-color:rgb(25, 146, 138);
        padding-bottom: 15px;
        
    }
    .navbar-nav .nav-link:hover{
        color: #ffc003;
    }
    .search i{
        margin-top: 25px;
    }

    .homme1{
        height: 400px;
        width: 100%;
        margin-left: 0px; 
        margin-bottom: 25px;
    }
    .homme1 .btn{
        padding-left: 0px;
    }
    .programme{
        margin-bottom: 25px;
    }
    .nosProg{
        padding-left: 10px;
        padding-right: 10px;
    }
    .prog{
        margin-bottom: 10px;
    }
    .desi{
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 3px;
    }

    .sect6{
        position: relative;
        background-image: url('images/wave.png');
        background-size: cover;
        padding-bottom: 300px;
    }
    .colSect6{
        position: absolute;
        bottom: -180px;
        color: aliceblue;
    }

    .sect4 .wave{
        position: absolute;
        bottom: -50px;
        width: 100%;
    }
    .sect5{
        margin-top: 180px;
    }

    .sect6{
        background-image: url('images/wave.png');
        background-size: cover;
        padding-bottom: 200px;
    }
    .texte2{
        color: aliceblue;
        margin-top: 0px;
    }
    .parteners{
        text-align: center;
        justify-content: center;
        margin-top: 35px;
    }
   
}



